<form method="post" action="{{ path('app_tipo_norma_delete', {'id': tipo_norma.id}) }}" onsubmit="return confirm('Está seguro de eliminar este Tipo de Norma?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_norma.id) }}">
    <button class="btn">Delete</button>
</form>
