{% extends 'base.html.twig' %}

{% block title %}Nueva sección
{% endblock %}

{% block body %}

				<div class="row">
					<div class="col-12">
						<h1>Nueva sección</h1>
						{{ include('secure/secciones/_seccion_form.html.twig') }}
					</div>
				</div>
{% endblock %}
