{% extends 'base.html.twig' %}

{% block title %}Editar Norma{% endblock %}

{% block body %}
            <div class="row">
                <div class="col-12">
                    <h1>Editar Norma</h1>
                    {{ include('secure/norma/_form.html.twig', {'button_label': 'Actualizar'}) }}
                </div>
            </div>
{% endblock %}
