{# INICIO MODAL #}
<div class="modal fade" id="modalHistorico" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalHistoricoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalHistoricoLabel">Histórico</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="spinnerHistorico" class="d-none text-center my-3">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Cargando...</span>
                    </div>
                    <p>Cargando histórico, esto puede demorar...</p>
                </div>
                <div class="container-fluid" id="contentHistorico">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-stripped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>
                                            Id
                                        </th>

                                        <th>
                                            Acción
                                        </th>

                                        <th>
                                            Fecha
                                        </th>

                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Usuario
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th class="text-center">
                                            Ver auditoria
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-historico">

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{# FIN MODAL #}