{% extends 'base.html.twig' %}

{% block title %}Editar Dependencia
{% endblock %}

{% block body %}
	<div class="col-12">
		<div class="page-title-box d-sm-flex align-items-center justify-content-between">
			<div class="page-title-left">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item">
						<a href="javascript: void(0);">Dependencias</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{path('app_dependencia_index')}}">Lista de dependencias</a>
					</li>
					<li class="breadcrumb-item active">Editar dependencia</li>
				</ol>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h1>Editar Dependencia</h1>
			{{ include('secure/dependencia/_form.html.twig', {'button_label': 'Actualizar'}) }}
		</div>
	</div>
{% endblock %}
