{% extends 'base.html.twig' %}

{% block title %}Nueva Dependencia
{% endblock %}

{% block body %}

				<div class="row">
					<div class="col-12">
						<h1>Nueva Dependencia</h1>
						{{ include('secure/dependencia/_form.html.twig') }}
					</div>
				</div>
{% endblock %}
