{% extends 'base.html.twig' %}

{% block title %}Nuevo Tipo de Referencia
{% endblock %}

{% block body %}

				<div class="row">
					<div class="col-12">
						<h1>Nuevo Tipo de Referencia</h1>
						{{ include('secure/tipo_referencia/_form.html.twig') }}
					</div>
				</div>
{% endblock %}
