{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'base.html.twig' : 'base_frontend.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12 text-center">
        <h1>Error 404 - Sitio no encontrado</h1>
        <p>
            El sitio que estas buscando no se encuentra o fue eliminado.
        </p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-primary" href="{{ path('app_secure_home') }}" title="Volver al inicio">Volver al inicio</a>
        {% else %}
        <a class="btn btn-secondary" href="{{ path('app_home_front') }}" title="Volver al inicio">Volver al inicio</a>
        {% endif %}
    </div>
</div>
{% endblock %}