{% extends 'base.html.twig' %}

{% block title %}Nuevo Tipo de Norma
{% endblock %}

{% block body %}

				<div class="row">
					<div class="col-12">
						<h1>Nuevo Tema</h1>
						{{ include('secure/tema/_form.html.twig') }}
					</div>
				</div>
{% endblock %}
